# 1. Tuples - an ordered collection of elements

In [1]:
my_tuple = ()

In [2]:
type(my_tuple)

tuple

In [3]:
print(type(my_tuple))  #All complex data types are classes under the hood

<class 'tuple'>

# 2. Tuples are enclosed in ( )

In [4]:
int_tuple = (1,2,3)

print(int_tuple)

(1, 2, 3)

In [5]:
str_tuple = ("Hello","Python")

print(str_tuple)

('Hello', 'Python')

In [6]:
print(int_tuple, str_tuple) #Print function can take in two tuples and will print them in sets of round brackets

(1, 2, 3) ('Hello', 'Python')

In [7]:
combined_tuple = int_tuple + str_tuple

combined_tuple

(1, 2, 3, 'Hello', 'Python')

In [8]:
print(str_tuple*3)

('Hello', 'Python', 'Hello', 'Python', 'Hello', 'Python')

In [11]:
mixed_tuple = (3,"Hello",4.4)

print(mixed_tuple)

(3, 'Hello', 4.4)

# 3. Even when you leave the brackets, python correctly realises that it should be a tuple

In [12]:
my_tuple = 3,"world",4.9

print(my_tuple)

(3, 'world', 4.9)

# 4. Fields are used to acces elements in the tuple

In [13]:
a,b,c = my_tuple

In [14]:
print(a)
print(b)
print(c)

3
world
4.9

In [16]:
nested_tuple = (1,2,3,(4,5,6)) #Tuples within tuples

print(nested_tuple)

(1, 2, 3, (4, 5, 6))

In [2]:
mixed_tuple = ("mouse",[8,4,6],(1,2,3))

print(mixed_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [18]:
my_tuple = ('p','e','r','m','i','t')

my_tuple

('p', 'e', 'r', 'm', 'i', 't')

# 5. Indexes can also be used in tuples to access the elements

In [21]:
print(my_tuple[0])

p

In [22]:
print(my_tuple[5])

t

In [23]:
print(my_tuple[6])

IndexError: tuple index out of range

In [3]:
mixed_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [4]:
print(mixed_tuple[0])

mouse

In [6]:
print(mixed_tuple[0][0])

m

In [26]:
print(mixed_tuple[1])

[8, 4, 6]

In [24]:
print(mixed_tuple[1][0])

8

In [29]:
nested_tuple = mixed_tuple[2]
print(nested_tuple)

(1, 2, 3)

In [30]:
print(mixed_tuple[2][2])

3

# 6. Tuples also support slicing operations

In [31]:
my_tuple = ('G','i','r','a','f','f','e')

print(my_tuple[1:])

('i', 'r', 'a', 'f', 'f', 'e')

In [32]:
print(my_tuple[2:4])

('r', 'a')

In [33]:
print(my_tuple[::2])

('G', 'r', 'f', 'e')

In [34]:
print(my_tuple[-1])

e

In [35]:
my_tuple = ('H','e','l','l','o')
my_tuple

('H', 'e', 'l', 'l', 'o')

In [36]:
print(my_tuple.index('H'))

0

In [37]:
print('e' in my_tuple)

True

In [38]:
print('t' in my_tuple)

False

In [39]:
print('e' not in my_tuple )

False

In [40]:
int_tuple = (4,5,8,3)
sum(int_tuple)

20

In [41]:
int_tuple = (1,4,9,9)
list(int_tuple)

[1, 4, 9, 9]

In [42]:
int_tuple = (1,4,9,9)  #Duplicates will be removed in case of sets
set(int_tuple)

{1, 4, 9}